*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2em;
}

h3 {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 13px;
  line-height: 1em;
}

p {
  background-color: #333;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 100%;
  line-height: 2em;
}

body {
  background-color: #333;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 10px;
  line-height: 1em;
}

.container {
  display: block;
  margin: 0 auto;
  width: 40%;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 40%;
}

.restaurant-list {
  border-left: 40px solid #3A3A3A;
  border-right: 40px solid #3A3A3A;
  padding-top: 10%;
  width: 100%;
}

.location {
  background-color: #ffffff;
  border: 2px solid #000000;
  position: static;
  padding: 10px;
  width: 100%;
}

.location:hover {
  background-color: #d3d3d3;
}

.arrow {
  display: inline-block;
  float: right;
  padding-top: 1%;
  width: 5%;
}

.arrow-left {
  display: inline-block;
  margin-left: 10%;
  padding-top: 1%;
}

.content {
  display: inline-block;
  width: 95%;
}
